<div class="contsiner p-4">
    <div class="addHeader">
        Add Mandal
    </div>
    <div class=" bodyContent">
        <form [formGroup]="mandalForm">
            <div class="d-flex row mb-4">
                <div class="col-6">
                    <label class="me-2">Mandal Name :</label>
                    <input class="inputStyle" formControlName="districtName">
                </div>
                <div class="col-6">
                    <label class="me-2">Select State</label>
                    <select class="selectClass" formControlName="stateName" (change)="getDistricts($event)">
                        <option selected>-- Please select --</option>
                        <option *ngFor="let s of stateList" [value]="s.id">{{s.stateName}}</option>
                    </select>
                </div>
            </div>
            <div class="row mb-4">
                 <div class="col-6">
                    <label class="me-2">Select District</label>
                    <select class="selectClass" formControlName="stateName">
                        <option selected>-- Please select --</option>
                        <option *ngFor="let di of districtList" >{{di.districtName}}</option>
                    </select>
                </div>
                <div class="col-6">
                    <label class="me-2">Mandal Population :</label>
                    <input class="inputStyle" formControlName="statePopulation">
                </div>
                
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="me-2">Constituensy :</label>
                    <input class="inputStyle" formControlName="stateConstituensy">
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button class="btn btn-danger" (click)="onCancelClick()">Cancel</button>&nbsp;&nbsp;
                <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
            </div>
        </form>

    </div>
</div>