table th {
  font-size: 15px;
  text-transform: uppercase;
}

table td {
  font-size: 14px;
}

.table-responsive {
  background: #ffffff;
  border-radius: 8px;
  padding: 10px;
}

.addButton{
    float: right;
}
